/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 20px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333333;
}

h1, h4, h5, h6 {
  font-size: 100%; }
  
h1, h2, h3, h4, h5, h6 {
	padding: 1em 0;
  font-weight: 400;
	}
  
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #333;
}

h2 {
	font-size: 48px;

}

h3 {
	font-size: 200%;
}	
	
  
  
h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #333; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #808080;
  font-size: 16px;
}

.post {
  margin-bottom: 80px;
}

.post + .post {
  padding-top: 40px;
  border-top: 3px double #ddd;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 18px;
  line-height: 1.5em;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.postContent {
  width: 80%;
}

.header {
  background-color: #d97a58;
  margin-bottom: 60px;
}
.header a {
  text-decoration: none;
}

.title {
  float: left;
  margin-top: 104px;
}

.menu {
  text-align: right;
  font-size: 0;
  text-transform: uppercase;
}
.menu a {
  font-size: 16px;
  color: #FFF;
  display: inline-block;
  padding: 120px 40px;
}

.menu .active {
  background-color: #df7f5d;
}

.menu a:hover {
  background-color: #ee906e;
}



.meta {
  color: #aaa;
}

.footer {
  font-size: 14px;
  color: #999;
  border-top: 1px solid #ccc;
  margin-top: 2em;
  overflow: hidden;
  padding: 20px 0;
}

.footer a, .footer a:hover {
  color: #999;
}

.footer .links a{
  display: inline-block;
  margin-right: 10px;
}

.footer p {
  float: right;
  margin: 4px 0 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* Portfolio
/*
/*****************************************************************************/

#portfolio {
  padding-top: 60px;
}

#portfolio > div {
  width: 441px;
  display: inline-block;
  margin-bottom: 60px;
}

#portfolio .odd {
padding-right: 72px;
}

#portfolio a {
  text-decoration: none;
}

#portfolio a span:hover {
  text-decoration: underline;
}

#portfolio a img {
  border: 1px solid #FFF;
  box-shadow: 1px 1px 4px #999;
}

#portfolio a span {
  text-decoration: none;
  font-size: 16px;
  color: #666;
}

#portfolio ul {
  list-style: none;
  font-size: 12px;
  line-height: 1.8em;
  padding-top: 3px;
}

#portfolio ul li {
  display: inline-block;
  color: #FFF;
  background: #CCC;
  border-radius: 3px;
  padding: 0 10px;
}

#portfolio ul li.kukui {
  background: none;
  vertical-align: middle;
  padding-left: 0;
}

#portfolio .kukui img {
  border: none;
  box-shadow: none;
}



/*****************************************************************************/
/*
/* Contact Form
/*
/*****************************************************************************/


label {
  display: inline-block;
  min-width: 140px;
}

input {
  height: 39px;
  margin-bottom: 10px;
}

input, textarea {
  border: 1px solid #CCC;
  width: 302px;
  padding-left: 10px;
  font-size: 14px;

}

textarea {
  height: 140px;
  line-height: 1.6em;
  padding-top: 10px;
}

#messageLabel {
  vertical-align: top;
}

form {
  margin-top: 2em;
}

button {
  background-color: #d9d2cc;
  height: 42px;
  width: 160px;
  color: #73665b;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  margin: 4px 0 0 142px;
  cursor: pointer;
}

button:hover {
  background-color: #c3b6aa;
}

#emailConf {
  text-align: center;
  width: 800px;
  margin: 80px auto;
}

#ajaxEmailConf {
  display: none;
}

#ajaxEmailConf div {
  width: 370px;
  text-align: center;
  padding: 20px 40px 0;
  margin-top: 2em;
}

.error {
  background-color: #f1e5e5;
  border: 1px solid #d4b3b3;
}

.success {
  background-color: #e7f1e5;
  border: 1px solid #abc9a5;
}

